ENV = 'development'

VITE_PORT = 8888
VITE_OPEN = true
VITE_PUBLIC_PATH = /

# Vite dev proxy targets. Keep defaults when all services run on the same computer.
VITE_API_PROXY_TARGET = 'http://localhost:9999/'
VITE_FLASK_PROXY_TARGET = 'http://localhost:5000/'
VITE_FLASK_SOCKET_URL = 'http://localhost:5000'
